$font-stack:    Helvetica, sans-serif;
$primary-color: #FFFFFF;

#home-page {
  background-color:rgb(2, 14, 73);
  color: $primary-color;
  display: flex; 
  font: 50px $font-stack;
  height: 100vh; 

  
}
