#game-options{
  display: flex;
}

.game-options{
  color:rgb(255,255,255);
  margin:auto;
  width:80%;
  .card{
    min-height: 300px;
  }
  .card-body {
    display:flex;
  }
  .card-text{
    display: flex;
    margin:auto; 
    font-size: 21px;
  }
}