
  .test {
    border:1px solid green;
  }

#score-board{
  font-size:16px;

  .player-board{
    display: flex;

    .player-name, .player-score{
      display: flex; 
      font-size: 20px; 
      margin:5px;
    }
    .player-score{
      width:100px; 
    }
  }

  #score-second{
    align-content: flex-end;
    border:5px solid green;
  }
}